* {
	margin: 0;
	padding: 0;
}

* body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background: #222222;
}
#main-contenedor {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

button {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px 0 20px 0;
}

.quiz {
    margin: 30px 0 0 0;
    border: solid dodgerblue;
    
}

header {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    color: aliceblue;
    margin: 30px;
}

strong {
    color: white;
}

a {
    color: yellow;
}